/* Styles spécifiques pour la liste de ressources */
.resources-list {
    list-style-type: disc;
    margin-left: 20px;
}

.resources-list a {
    text-decoration: none;
    color: #007BFF;
}

.resources-list a:hover {
    text-decoration: underline;
}
